@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
  -webkit-font-smoothing: antialiased;
}

#app {
  min-height: 100vh;
}

